* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
}
#main{
    margin-top: 30px ;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 30px;
}
#header ul {
    list-style-type: none;
    text-align: center;
    font-weight: bolder;
  /* Thêm thuộc tính này để căn giữa theo chiều dọc */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
}

#header li {
    display: inline-block;
    width: calc(100%/6);
    line-height: 40px;
    margin-left: -5px;
}
#header a {
    text-decoration: none;
    color: #000;
    display: block;
}

#header a:hover {
    background: #F1F1F1;
    color: #333;
}

.find {
    background-color: #e9dddd;
    border-radius: 10px;
    display:inline-block;
}

.find #input-find {
    border: none;
    background-color: #e9dddd;
}

.ti-search {
    font-weight: bolder;
    font-size: 25px;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
}

#slider{

    margin-top: 40px;
    padding-top: 50%;
    background: url('../img/slider.png') top center /cover no-repeat;
}
#circle{
    align-items: center;
    text-align: center;
}
#circle button{
    border-radius: 18px;
    height: 20px;
    width:20px;
    border: none;
    margin: 15px;
}
#circle button:nth-child(2){
    background-color: red;
}
#content{
    align-items: center;
    margin: 0 40px 50px;
}
#content h1{
    color: red;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
#content span{
    color: red;
}
#icon-3{
    text-align: center;
    
}
#icon-3 img{
    margin: 0 30px 30px;    
}
#so{
    text-align: center;
    margin-bottom: 30px;
}
#so img{
    margin: 0 20px 20px 0px;
}
#so button{
    background-color: red;
    color: white;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    border: none;
}
#tong{
    background-color: #FFC7C7;
    height: 170px;
    margin-bottom: 30px;
    margin-right: -10px;
    margin-left: -15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 10px;
}
#tong img{
    margin: 0 150px 0;
}
#tong span{
    margin: 0 85px 0;
}
.text{
    text-transform: uppercase;
    color:red;
}
.center{
    text-align: center;
}
#event{
    margin: 50px;
}
.pl{
    padding-left: 80px;

}
#event .img-event{
    width: 700px;
    height: 500px;
}
.plh{
    padding-left: 20px;
}
.button-event{
    background-color:#DB3434;
    color: white;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
}
.button-event:hover,
#so .button_thamgia:hover
{
    background-color:#FFC7C7;
}
.text-upper{
    text-transform: uppercase;
    font-weight: bolder;
}
.status-end{
    border: 2px solid #000;
    background-color: white;
    color: red;
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.status-s{
    border: 2px solid #000;
    background-color: white;
    color: #28E13B;
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
table{
    margin-top: 40px;
}
#contact{
    background-color: #EECACA;
    width: 100%;
    height:200px;
}
#contact span{
    float:left;
    margin-top: 35px;
}
#contact img{
    float:left;
    width: 160px;
    margin:25px;
}
.menu{
    position: fixed;
    top: 200px;
    bottom: 800px;
    left: 1000px;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    border: #e9dddd;
}
.menu-container{
    background-color: #fff;
    width: 200px;
    max-width: calc(100% - 32px) ;
    min-height: 150px;
    position: relative;
    padding-top: 15px;
    padding-left: 10px;
}
.menu.open{
    display:flex;
}
.sua, .lichsu, .out{
    border:1px solid #000;
}
.sua:hover, .lichsu:hover, .out:hover{
    background-color: #e9dddd;
}
.menu table{
    border: 1px solid #000;
}
#bangsua{
    padding-top: 50px;
    margin-left: 50px;
    height: 350px;
    width: 100%;
}
#bangsua .actor-sua{
    width:30%;
    float: left;
    text-align: align;
    align-items: center;
    
}
.actor-sua img{
    text-align: align;
    align-items: center;
}
#bangsua .thongtin{
    width:60%;
    float: left;
    text-align: align;
    
}
.tron{
    border-radius: 18px;
    height: 30px;
    padding-left: 10px;
}
.xam{
    background-color:#ddd;

}