[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nguyen Thi Lan Anh
	email = nguyenlananh25112003@gmail.com
